@model IEnumerable<personapi_dotnet.Models.Entities.Estudio>

@{
    ViewData["Title"] = "Estudio";
}

<h1>Estudios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CcPer)</th>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Univer)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CcPer)</td>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Univer)</td>
                <td>
                    <a asp-action="Edit" asp-route-ccPer="@item.CcPer" asp-route-idProf="@item.IdProf" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-ccPer="@item.CcPer" asp-route-idProf="@item.IdProf" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-ccPer="@item.CcPer" asp-route-idProf="@item.IdProf" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
