@model IEnumerable<personapi_dotnet.Models.Entities.Telefono>

@{
    ViewData["Title"] = "Telefono";
}

<h1>Teléfonos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Oper)</th>
            <th>@Html.DisplayNameFor(model => model.DuenioNavigation)</th>
            <th>@Html.DisplayNameFor(model => model.Num)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Oper)</td>
                <td>@Html.DisplayFor(modelItem => item.DuenioNavigation.Cc)</td>
                <td>@Html.DisplayFor(modelItem => item.Num)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Num" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Num" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Num" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
